@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:wght@300&family=Quicksand:wght@500&family=Rubik&family=Sono:wght@300&display=swap');

h1 {font-family: 'Kanit', sans-serif; 
}

html {
    scroll-behavior: smooth;
}

a {
    background-color: #e8eef1;
    text-decoration:none;
    color: #057dcd;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
  }
  a:hover {
    opacity: .6;
  }
  /* Hero image stuff */
  .hero {
    background: url(images/zoom_v2.png) center;
    background-size: cover;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
  }
  .hero > * {
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .hero > h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    display: block;
    text-align: center;
  }
  .headline {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    display: block;
    text-align: center;
  }
  .hero > article > p {
    font-size: 1.5rem;
    font-weight: 200;
  }
  .hero > article > a {
    padding: 1rem;
    margin-top: .75rem;
  }
  .message > * {
    /* display: flex; */
  /* }
  .message > p {
    
  }
  .message > a {
    
  } */