<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css"> 
    <title>
        CappaTech Consulting
    </title>
<main class="wrapper">
    <section class="hero">
        <div class="headline"><h1>Where is your organization heading next?</h1></div>
        <article class="message">
            <p>CappaTech offers research, advisory, web development and business modernization services for organizations with challenges to solve.</p>
            <a href="#contact-us">Contact Us</a>
        </article>
    </section>
</main>    
</html>