<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css"> 
  

    <title>
        CappaTech Consulting
    </title>
</head>
<body>   
    <div class="grid"> 
            <div class="box header">
                <div class="box logo-container">
                    <a href="https://cappa.dev">
                        <img class="CTlogo" src="static/images/logowtext.png">
                    </a>
                </div>
            </div>
            <div class="box hero">
                <img id="zoom" src="static/images/zoom_v2.png">
                <span id="question">Where is your organization heading?</span>
            </div>
            <div class="box bottom">
                <div class="about_us">
                    <span id="about_us_title">About Us</span>
                    <br>
                    <div id="about_us_text"><p box > CappaTech offers research, advisory, web development and business modernization services for organizations with challenges to solve.
                    </p></div>
                </div>
                <!-- <div class="about-us">
                    <span id="about_us_title">About Us </span><br>
                    <span>CappaTech offers research, advisory, web development and business modernization services for organizations with challenges to solve.</span>
                </div> -->
                
            </div>
          
    <div>
    </div>
        </div>
       

</body>
</html>